mixin img(name, className=false)
  img(src=path+"/assets/images/" + name, alt="" title="" loading="lazy" class=className)

mixin btn(title, className, img=false, button=false)
  if button
    button(type="submit" class=className)
      span=title
      if img
        +img(img)
  else
    a(href="/" class=className)
      span=title
      if img
        +img(img)
